.journi-container {
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(125, 136, 146);
}

.journi-logo {
  width: 400px;
  height: 100px;
  margin: 20px auto;
}

.journi-container h5 {
  font-size: 1.5em;
  width: 90%;
  margin: 20px auto;
}

.journi-container h5:nth-of-type(1) {
  background-color: #ff3e4c;
  margin-top: 5px;
}

.journi-container h5:nth-of-type(2) {
  background-color: #ffd769;
  margin-top: 5px;
}

.journi-container h5:nth-of-type(3) {
  background-color: #1ca68a;
}

.journi-container a {
  color: black;
  margin: 30px 0 30px 0;
}

@media (max-width: 800px) {
  .journi-logo {
    width: 250px;
    height: 60px;
  }

  .journi-container h5 {
    font-size: 1.2em;
  }
}

@media (max-width: 280px) {
  .journi-logo {
    width: 160px;
    height: 50px;
  }

  .journi-container h5 {
    font-size: 1em;
  }
}
