.header {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebedee;
}

.header-icon,
.header-git,
.header-logo {
  padding: 15px;
}

.header-icon:hover, 
.header-git:hover, 
.header-logo:hover {
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .header-git {
    display: none;
  }
}

@media screen and (max-width: 240px) {
  .header-logo {
    display: none;
  }
}