@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap");

.calculator {
  width: 100%;
  min-width: 420px;
  min-height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 49, 54);
  overflow: auto;
}

.calculator-wrap {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: 100px 70px auto;
  margin: 20px 0;
}

.calculator-screen,
.calculator-result {
  font-family: "Roboto Mono", monospace;
}

.calculator-screen {
  grid-column: 1 / 5;
  background-color: #ffffff;
  overflow: auto;
  font-size: 2em;
}

.calculator-result {
  grid-column: 1 / 4;
  background-color: #ffffff;
  font-size: 1.2em;
}

.calculator-delete {
  grid-column: 4 / 5;
  background-color: #ffc109;
}

.calculator-keys {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: repeat(4, 100px);
}

.calc-key {
  color: #ffffff;
  background-color: #1e2326;
}

.operation {
  background-color: #5e4bb6;
}

.key-equal {
  background-color: #ffc109;
  color: #000000;
}

.calc-key:hover,
.calculator-delete:hover {
  cursor: pointer;
  opacity: 0.5;
}

.calculator-screen,
.calculator-result,
.calculator-delete,
.calc-key {
  display: flex;
  justify-content: center;
  align-items: center;
}
